
@import './utilidades/header';
@import './utilidades/footer';
@import './utilidades/comunes';
@import './secciones/index';
@import './secciones/servicios';
@import './secciones/galeria';
@import './secciones/nosotros';
@import './secciones/noticias';
@import './utilidades/media768';
@import './utilidades/media400';