.section_descriptivo_galeria {
    background: linear-gradient(to left, $gradienteIzquierdoOscuro, $gradienteDerechoOscuro);
    color: white;
    height: 400px;

    h1 {
        font-size: 40px;
    }

    h4 {
        font-size: 20px;
    }

}
.imghvr-zoom-out {
    background: linear-gradient(to right, $gradienteIzquierdoOscuro, $gradienteDerechoOscuro);
    border-radius: 10%;

    figcaption {
        background: linear-gradient(to right, $gradienteIzquierdoOscuro, $gradienteDerechoOscuro);
        border-radius: 10%;
    }

    .img_galeria {
        height: 300px;
        width: 300px;
        overflow: hidden;
        border-radius: 10%;
    }
}