* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.section_descriptivo_servicios {
    height: 400px;
}

.body_index {
    background: -webkit-linear-gradient(to right, $gradienteIzquierdo, $gradienteIzquierdo);
    background: linear-gradient(to right, $gradienteIzquierdo, $gradienteDerecho), url(../img/fotoCodigo.jpg);
    @include ajustes_background;
}


//Main del index
.section_descriptivo {
    @include secciones_descriptivas;
    background-size: cover;
    color: white;

    h1 {
        @include animaciones_entrada-titulo;
    }

    p {
        @include animaciones_entrada-descripcion;
    }
}

/* DESCRIPCION DE NEGOCIO */
.divMainDescripcion {
    display: flex;
    background-color: $colorPrincipal;
    padding-top: 44px;
    padding-bottom: 56px;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    align-items: map-get($estilos, centrado);
    line-height: 30px;

    h4 {
        font-weight: normal;
        font-size: 25px;
        color: $colorLetras;
        line-height: 0;
    }

}

.main_div_servicios {
    display: grid;
    background-color: white;
    grid-template-rows: 62px 264px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "titulo titulo titulo""componentes pc codigo";
    justify-items: map-get($estilos, centrado);
    padding-top: 41px;

    .main_titulo_servicios {
        grid-area: titulo;
        font-weight: normal;
        color: $colorLetras;
        font-family: 'Montserrat', sans-serif;
        display: inline-block;
        border-width: 2px;
    }

    .main_servicios_pos {
        display: flex;
        flex-direction: column;
        align-items: map-get($estilos, centrado);
    }

    .vistaIzquierda {
        grid-area: componentes;
    }

    .vistaCentro {
        grid-area: pc;
    }

    .vistaDerecha {
        grid-area: codigo;
    }
}

.main_section_cierre {
    display: flex;
    background-image: url(../img/oficinaE.jpg);
    background-attachment: fixed;
    background-size: 1550px;
    height: 333px;
    flex-direction: column;
    justify-content: map-get($estilos, centrado);

    h3 {
        color: white;
        font-family: 'Montserrat', sans-serif;
        text-align: map-get($estilos, centrado);
        font-size: 25px;
    }
}