* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.section_descriptivo_noticias {
    background-image: url(../img/fondoPce.jpg);
    background-position: center;
    background-size: cover
}

.section_descriptivo_servicios {
    height: 400px;
}

.body_index {
    background-image: url(../img/fotoCodigo.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}


//Main del index
.section_descriptivo {
    display: flex;
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
    height: 400px;
    flex-direction: column;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    h1 {
        font-size: 40px;
        animation-name: backInRight;
        animation-duration: 1s;
        animation-iteration-count: 1;
    }

    p {
        font-size: 20px;
        animation: backInLeft;
        animation-iteration-count: 1;
        animation-duration: 1s;
    }
}

/* DESCRIPCION DE NEGOCIO */
.divMainDescripcion {
    display: flex;
    background-color: $colorPrincipal;
    padding-top: 44px;
    padding-bottom: 56px;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    align-items: center;
    line-height: 30px;

    h4 {
        font-weight: normal;
        font-size: 25px;
        color: $colorLetras;
        line-height: 0;
    }

}

.main_div_servicios {
    display: grid;
    background-color: white;
    grid-template-rows: 62px 264px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "titulo titulo titulo""componentes pc codigo";
    justify-items: center;
    padding-top: 41px;

    .main_titulo_servicios {
        grid-area: titulo;
        font-weight: normal;
        color: $colorLetras;
        font-family: 'Montserrat', sans-serif;
        display: inline-block;
        border-width: 2px;
    }

    .main_servicios_pos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .vistaIzquierda {
        grid-area: componentes;
    }

    .vistaCentro {
        grid-area: pc;
    }

    .vistaDerecha {
        grid-area: codigo;
    }
}

.main_section_cierre {
    display: flex;
    background-image: url(../img/oficinaE.jpg);
    background-attachment: fixed;
    background-size: 1550px;
    height: 333px;
    flex-direction: column;
    justify-content: center;

    h3 {
        color: white;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-size: 25px;
    }
}