@media (max-width:768px) {
    .navbar_alineacion {
        .navbar-nav {
            .efecto_subrayado {
                background-image: none;
                transition: none;
            }
        }
    }

    $textos :(h1:35px,
        p:15px);

    @each $texto,
    $tamaño in $textos {
        .section_descriptivo #{$texto} {
            font-size: $tamaño;
        }
    }

    .divMainDescripcion {
        h4 {
            font-size: 25px;
        }

        p{
            width: 90%;
        }
    }

    .imgServicios {
        height: 130px;
        width: 130px;
        margin-bottom: 10px;
    }

    .main_section_cierre h3 {
        font-size: 16px;
        padding: 0 79px;
    }


    .footer_general {
        .subrayado {
            font-size: 20px;
        }

        .alineacionContacto {
            font-size: 16px;
        }

        input {
            font-size: map-get($estilos, fuente-chica);
        }

        .footer_formulario {
            margin-top: 40px;

            .alineacionFormulario {
                font-size: 16px;
            }

            .btn_confirmar {
                margin-left: 116px;
            }
        }
    }

    .img_galeria {
        width: 200px;
        height: 200px;
    }

    .galeria_titulo_fotos {
        font-size: medium;
    }

    .galeria_descripcion_fotos {
        font-size: map-get($estilos, fuente-chica);
    }

    .descripcion_presentacion {
        .alineado_presentacion {
            font-size: 15px;
            padding: 0 44px;
            margin-right: 0;
        }
    }


    .descripcion_personal {
        padding: 60px 6px 60px 6px;
        font-size: 13px;

        .far,
        .fas {
            font-size: 17px;
        }
    }

    .noticias_titulo {
        font-size: medium;
    }

    .noticias_descripciones {
        font-size: map-get($estilos, fuente-chica);
    }

    .fechas {
        font-size: medium;
    }

    .section_descripcion-armados {
        grid-template-columns: 1fr;
        grid-template-rows: .4fr 1fr 1fr;
        grid-template-areas: "titulo""descripcion""imagen";
    }

    .container-ajustes {
        .section-descripciones {
            .section-descripciones-primera {
                flex-direction: column;
                width: 90%;
            }
        }
    }
}