@media (max-width:400px) {

    br{
        display: none;
    }

    .section_descriptivo h1 {
        font-size: 30px;
    }

    .divMainDescripcion p {
        font-size: smaller;
    }

    .main_div_servicios {
        grid-template-rows: 9vh 1.2fr 1.2fr 1fr;
        grid-template-areas: "titulo""componentes""pc""codigo";
        grid-template-columns: 1fr;
        justify-items: map-get($estilos, centrado);
        padding-bottom: 30px;
        padding-top: 35px;

        br{
            display: inline;
        }

        .main_titulo_servicios {
            font-size: 19px;
        }
    }

    .main_section_cierre h3 {
        font-size: 15px;
        padding: 0%;
    }



    .descripcion_presentacion {
        .alineado_presentacion {
            font-size: 12px;
            padding: 0 20px;
        }
    }

    .descripcion_personal {
        .contenedor_descripcion {


            grid-template-columns: 1fr;
            grid-template-rows: .5fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-areas: "titulo""solProblemas""postVenta""resolucion""respuestas""seguimiento";
            background-color: $colorPrincipal;
            font-size: x-small;
            padding: 30px 0;
            align-items: center;
        }

        .titulo_descripcion_personal {
            font-size: 22px;
        }

        .far,
        .fas {
            font-size: 12px;
        }
    }

    .section_descriptivo_noticias {
        h3 {
            font-size: 25px;
        }

        p {
            font-size: 15px;
        }
    }

    .img_noticias {
        width: 75%;
        height: auto;
    }

    .footer_general {
        flex-direction: column;
        align-items: center;

        .alineacion_secciones {
            margin-top: 2rem;
        }

        .footer_contacto {
            text-align: center;
        }
    }

    .section_descripcion-armados {
        img {
            height: 150px;
        }
    }

    .container {
        .row {
            .primer_opcion {
                width: 90%;
            }
        }
    }

    .container-ajustes {
        padding: 0;
    }
}