.body_descripcion {
    background: linear-gradient(to left, $gradienteIzquierdoOscuro, $gradienteDerechoOscuro);
}

.descripcion_presentacion {
    background-color: white;

    .alineado_presentacion {
        padding: 35px 0 35px 142px;
        font-family: 'Montserrat', sans-serif;
        line-height: 30px;
        background-color: white;
    }
}

.descripcion_personal {
    background-color: white;
    padding: 60px 190px 57px 142px;

    .contenedor_descripcion {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: .4fr 1fr 1fr;
        grid-template-areas: "titulo titulo titulo""solProblemas postVenta resolucion""respuestas seguimiento none";

        .titulo_descripcion_personal {
            grid-area: titulo;
            justify-self: map-get($estilos, centrado);
        }

        .descripcion_solucion_problemas {
            grid-area: solProblemas;
        }

        .descripcion_post_venta {
            grid-area: postVenta;
        }

        .descripcion_resolucion {
            grid-area: resolucion;
        }

        .descripcion_respuestas {
            grid-area: respuestas;
        }

        .descripcion_seguimiento {
            grid-area: seguimiento;
        }
    }

    .alineacion_descripcion_personal {
        text-align: map-get($estilos, centrado);
    }

    .far,
    .fas {
        font-size: 20px;
    }

    .texto_normal {
        font-weight: normal;
    }

}