.section_descriptivo_noticias {
    background: -webkit-linear-gradient(to right, $gradienteIzquierdo, $gradienteIzquierdo);
    background: linear-gradient(to right, $gradienteIzquierdo, $gradienteDerecho), url(../img/mundo.jpg);
    @include ajustes_background;
    @include secciones_descriptivas;
    background-position: map-get($estilos, centrado);

    h3{
        @include animaciones_entrada-titulo;
    }
    p{
        @include animaciones_entrada-descripcion;
    }

}

.fechas {
    color: $colorLetras;
    margin-bottom: 1rem;
}

.img_noticias {
    width: auto;
    height: 200px;
}