.periodicos {
    background-image: url(../img/periodicos2.jpg);
    background-repeat: round;
    background-size: cover;
    background-attachment: fixed;
}

.fechas {
    color: #727272;
    margin-bottom: 1rem;
}

.img_noticias {
    width: auto;
    height: 200px;
}