.img_carrousel {
    height: 500px;
    filter: brightness(30%);
}

.carousel-caption {
    bottom: 12.25rem;

    h5 {
        font-size: 2rem;
    }

    p {
        font-size: 1.2rem;
    }
}

.section_descripcion-armados {
    display: grid;
    // padding: 0 300px;
    grid-template-columns: 1fr .4fr;
    grid-template-rows: 1fr;
    grid-template-areas: "titulo imagen""descripcion imagen";
    justify-items: center;
    align-items: center;
    padding: 0 146px;

    h2 {
        grid-area: titulo;
        font-size: 3rem;
    }

    img {
        grid-area: imagen;
        animation: movimiento ease 3s infinite normal;

        @keyframes movimiento {
            0% {
                transform: translate(0, 0);
            }

            100% {
                transform: translate(0, 0);
            }

            50% {
                transform: translate(0, 50px);
            }
        }
    }

    p {
        grid-area: descripcion;
        font-size: 1.1rem;
    }
}

.container {
    .row {
        .primer_opcion {
            padding: 0 1em;
            background-color: $colorPrincipal;
            width: 30%;
            border-radius: 8px;

            .primer_opcion-izquierda {
                float: left;
            }

            .primer_opcion-derecha {
                float: right;
            }
        }

        .fas,
        .fa {
            background-color: lightblue;
            line-height: 80px;
            width: 80px;
        }
    }

}

.flecha-arriba {
    position: fixed;
    right: 1%;
    bottom: 55px;
    width: 32px;
    height: 32px;

}

.container-ajustes {
    padding: 0 60px;

    .section-descripciones {
        .section-descripciones-primera {
            display: flex;
            margin-bottom: 30px;
        }

        .section-descripciones-segunda {
            @extend .section-descripciones-primera;
            flex-direction: row-reverse
        }

        .section-descripciones-tercera {
            @extend .section-descripciones-primera;
        }

        .section-descripciones-cuarta {
            @extend .section-descripciones-segunda;
        }

        .texto {
            background-color: $colorPrincipal;
            padding: 70px 30px 0 30px;
            font-size: medium;
            width: 100%;
            text-align: center;
            border-radius: 8px;

            h4 {
                font-size: 1.2rem;
            }
        }

    }
}