.body_servicios {
    background: -webkit-linear-gradient(to right, $gradienteIzquierdo, $gradienteIzquierdo);
    background: linear-gradient(to right, $gradienteIzquierdo, $gradienteDerecho), url(../img/fondoPce.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: map-get($estilos, centrado);
}


.img_carrousel {
    height: 500px;
    filter: brightness(30%);
}

.carousel-caption {
    bottom: 12.25rem;

    h5 {
        font-size: 2rem;
    }

    p {
        font-size: 1.2rem;
    }
}

.section_descripcion-armados {
    display: grid;
    // padding: 0 300px;
    grid-template-columns: 1fr .4fr;
    grid-template-rows: 1fr;
    grid-template-areas: "titulo imagen""descripcion imagen";
    justify-items: center;
    align-items: center;
    padding: 0 146px;

    h2 {
        grid-area: titulo;
        font-size: 3rem;
    }

    img {
        grid-area: imagen;
    }

    p {
        grid-area: descripcion;
        font-size: 1.1rem;
    }
}

.container {
    .primer_opcion {
        padding: 0 5em;
        background-color: $colorPrincipal;
        width: 30%;

        .primer_opcion-izquierda {
            float: left;
        }

        .primer_opcion-derecha {
            float: right;
        }
    }

    .fas,
    .fa {
        background-color: lightblue;
        line-height: 80px;
        width: 80px;
    }
}

.flecha-arriba {
    position: fixed;
    right: 1%;
    bottom: 55px;
    width: 32px;
    height: 32px;

}

.container-ajustes {
    padding: 0 60px;

    .section-descripciones {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .section-descripciones-primera {
            display: flex;
        }

        .section-descripciones-segunda {
            @extend .section-descripciones-primera;
        }

        .section-descripciones-tercera {
            @extend .section-descripciones-primera;
            flex-direction: row-reverse;
        }

        .texto {
            background-color: $colorPrincipal;
            padding: 30px 30px 0 30px;
            font-size: smaller;

            h4{
                font-size: 1.2rem;
            }
        }

    }
}





.listado_servicios {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "primero"
        "segundo"
        "tercero";
    background-color: $colorPrincipal;
    padding: 65px 0 65px 65px;
    align-items: map-get($estilos, centrado);

    .primer_servicio {
        grid-area: primero;
        display: flex;
        margin-bottom: 69px;
    }

    .segundo_servicio {
        grid-area: segundo;
        display: flex;
        margin-bottom: 45px;
    }

    .tercer_servicio {
        grid-area: tercero;
        display: flex;
    }
}