p {
    margin: 0%;
}
.descripcion {
    display: inline-block;
    color: $colorLetras;
    text-align: center;
    font-weight: normal;
}

.imgServicios {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: solid 1px $colorLetras;
    flex: none;
}

.alineado {
    align-self: center;
    font-size: unset;
}