.footer_general {
    text-align: center;
    background-color: $colorPrincipal;
    display: flex;
    padding-top: 35px;
    padding-bottom: 35px;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-evenly;

    .footer_contacto {
        text-align: left;

        .estilos_contacto {
            font-weight: normal;
            line-height: 30px;
        }
    }

    .parteIzquierda {
        display: inline-block;
    }

    .parteDerecha {
        display: inline-block;

        .comentario {
            height: 44px;
            width: 348px;
            resize: none;
        }

        .estilos_contacto {
            font-weight: normal;
            line-height: 30px;
        }

        .btn_confirmar {
            display: block;
            margin-left: 146px;
            padding-left: 37px;
            padding-right: 37px;
            margin-top: 10px;
            appearance: inherit;
        }
    }
}