@media (max-width:768px) {
    .navbar_alineacion {
        .navbar-nav {
            .efecto_subrayado {
                background-image: none;
                transition: none;
            }
        }
    }

    $textos :(
        h1:35px,
        p:15px
    );

    @each $texto,
    $tamaño in $textos {
        .section_descriptivo #{$texto} {
            font-size: $tamaño;
        }
    }

    .divMainDescripcion h4 {
        width: 248px;
        font-size: 20px;
    }

    .main_div_servicios {
        grid-template-columns: 1fr;
        grid-template-rows: .3fr 1fr 1fr 1fr;
        grid-template-areas: "titulo""componentes""pc""codigo";
        justify-items: map-get($estilos, centrado);
    }

    .listado_servicios {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "primero""segundo""tercero";
        justify-items: map-get($estilos, centrado);
        padding-left: 0%;

        .primer_servicio {
            flex-direction: column;
            align-items: map-get($estilos, centrado);
            margin-bottom: 0%;
        }

        .segundo_servicio {
            flex-direction: column;
            align-items: map-get($estilos, centrado);
            margin-bottom: 0%;
        }

        .tercer_servicio {
            flex-direction: column;
            align-items: map-get($estilos, centrado);
        }

        .alineado {
            font-size: 13px;
        }
    }

    .imgServicios {
        height: 150px;
        width: 150px;
        margin-bottom: 10px;
    }

    .main_section_cierre h3 {
        font-size: 16px;
        padding: 0 79px;
    }


    .footer_general {
        flex-direction: column;
        align-items: map-get($estilos, centrado);

        .subrayado {
            font-size: 20px;
        }

        .alineacionContacto {
            font-size: 16px;
        }

        input {
            font-size: map-get($estilos, fuente-chica);
        }

        .footer_formulario {
            margin-top: 40px;

            .alineacionFormulario {
                font-size: 16px;
            }

            .btn_confirmar {
                margin-left: 116px;
            }
        }
    }

    .img_galeria {
        width: 200px;
        height: 200px;
    }

    .galeria_titulo_fotos {
        font-size: medium;
    }

    .galeria_descripcion_fotos {
        font-size: map-get($estilos , fuente-chica );
    }

    .descripcion_presentacion {
        .alineado_presentacion {
            font-size: 17px;
            padding-left: 86px;
            padding-right: 44px;
            margin-right: 0;
        }
    }


    .descripcion_personal {
        padding: 60px 6px 60px 6px;
        font-size: 13px;

        .far,
        .fas {
            font-size: 17px;
        }
    }

    .noticias_titulo {
        font-size: medium;
    }

    .noticias_descripciones {
        font-size: map-get($estilos, fuente-chica );
    }

    .fechas {
        font-size: medium;
    }
}