$colorPrincipal: rgb(240,239,239);
$colorLetras: rgb(88,85,85);
$gradienteIzquierdo: rgba(43, 61, 79, 0.300);
$gradienteDerecho: rgba(189, 195, 199, 0.300);
$gradienteIzquierdoOscuro: #d7d2cc;
$gradienteDerechoOscuro: #304352;